*.o
main
game
solve.lua
libs1
testrun_directory
libfoxgc.so
libfluffygc.so
*.swp
*.pb-c.c
*.pb-c.h
data.bin
*.swo
bytecode.json
default.profraw
default.profdata
*.gcno
heapDump*.sqlite3*
heapDump*.sqlite3*
trace.json
*.a
xray-log.main.*
xray-log.*
build
*.profraw
*.profdata
*.sqlite3
saved.vim
.config
.config.*

